@model IEnumerable<Contact.Models.Contact>

@{
    ViewBag.Title = "Contacts";
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#add-contact-form').submit(function (e) {
                if (console && console.log) {
                    console.log('intercepted "add contact" button click in javascript');
                    // i could do some other stuff here and/or cancel the click.
                }
            });
        });
    </script>
}

<h1>Contacts</h1>

@if (Model.Count() > 0) {
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    </table>
}
else {
    <p>You don't have any contacts defined.</p>
}

@using (Html.BeginForm("Create", "Contact", FormMethod.Get, new { id = "add-contact-form" }))
{
    <input type="submit" value="Add Contact" />
}


